.elgi-field {
  display: flex;
  justify-content: space-around;
}
.field-el > h2 {
  font-weight: 400;
  color: #6d7b8c;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.field-el > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #100826;
}
