.sec-t {
  width: 100%;
  height: 100vh;
  background-color: #3c4053;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-top {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordian-item {
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}
.ac-link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.ac-link .tt .ff {
  color: #e7d5ff;
  padding: 0.5rem;
}
.tt {
  display: none;
}
.ans {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
}
.ans ::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: cornflowerblue;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.ans p {
  color: rgba(255, 255, 255, 0.8);

  font-size: 1.4rem;
  padding: 2rem;
}
.accordian-item:target .ans {
  max-height: 20rem;
}
