.tabs-section {
  margin: 2rem;
  max-width: 500px;
}
.tab-im {
  width: 100%;
}
.tabs {
  max-width: 350px;
}

.tab-im {
  width: 300px;
}
.texttab {
  font-size: 1.6rem;
  margin: 10px;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.tabsec {
  margin-top: 3rem;
  margin-left: 3rem;
}
.text-mains {
  /* background-color: #e5e5e5; */
  border-radius: 10px;
}
.texttab:hover {
  background-color: cadetblue;
  border-radius: 10px;
}
