.footer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: lightgray;
}


.foot-1 {
  flex-flow: wrap;
  display: flex;
  gap: 20px;
  font-size: 16px;
  line-height: 29px;
  justify-content: space-between;
  padding: 20px;
}



.rights {
  color: #6d7b8c;
  white-space: nowrap;
  display: block;
}
.f-btn1 {
  display: inline-block;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  background: #5d57fb;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.f-btn2 {
  margin-left: 10px;
  display: inline-block;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #100826;
  border: 1px solid #e8e9ed;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}
.down-footer {
  padding: 20px;
  display: flex;
  gap: 30px;
  font-size: 16px;
  line-height: 29px;
  justify-content: space-between;
}
.doner {
  font-size: 14px;
  line-height: 142%;
  color: #0c0c0c;
  text-transform: uppercase;
  font-weight: 800;
}
.down1 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  cursor: pointer;
}
.down2 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  cursor: pointer;
}
.down3 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){

  .down-footer{
    flex-direction: column;
  }

}
