.foot-1 {
  flex-flow: wrap;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  display: flex;
  font-size: 16px;
  line-height: 29px;
  justify-content: space-between;
  margin-top: 2rem;
}
.rights {
  color: #6d7b8c;
  white-space: nowrap;
  display: block;
}
.f-btn1 {
  width: auto;
  display: inline-block;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  background: #5d57fb;
  color: #fff;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.f-btn2 {
  width: auto;
  display: inline-block;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  color: #100826;
  border: 1px solid #e8e9ed;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}
.down-footer {
  display: flex;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 16px;
  line-height: 29px;
  justify-content: space-between;
  margin-top: 2rem;
}
.doner {
  font-size: 14px;
  line-height: 142%;
  color: #76788c;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.down1 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.down2 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.down3 > p {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
  color: #100826;
  text-decoration: none;
  margin-bottom: 16px;
  cursor: pointer;
}
