.naav {
  display: flex;
  justify-content: space-around;

  width: 100%;
  align-items: center;
  margin-top: 30px;
  /* background-color: rgb(129, 17, 129); */
}
.bt11 {
  padding: 8px 16px;
  color: rgb(19, 18, 18);
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  text-decoration: none;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  border: none;
  background: none;
}
.bt22-1 {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 36px;
  background: rgba(118, 120, 140, 0.3);
  /* color: rgb(255, 255, 255) !important; */
  margin-left: 0.5rem;
  cursor: pointer;
  border: none;
}
.bt22-2 {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 36px;
  background: rgba(118, 120, 140, 0.3);
  /* color: rgb(255, 255, 255) !important; */
  margin-left: 0.5rem;
  cursor: pointer;
  background: #5d57fb;
  color: #fff !important;
  border: none;
}
.tog {
  width: 188px;
  height: 36px;
  padding-left: 4px;
  padding-right: 4px;
  background: #e8e9ed;
  border-radius: 100px;
  display: flex;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), 0 1px 5px rgb(0 0 0 / 4%);
}
.tg1 {
  color: #5d57fb;
  background-color: #fff;
  height: 28px;
  line-height: 28px;
  background-color: transparent;
  border-radius: 100px;
  flex: 1 1;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 4;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  background: #5d57fb;
  color: #e8e9ed;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
}
.log-pic {
  width: 250px;
}
