.howit-header {
  display: flex;
  margin-top: 3rem;
  margin-left: 3rem;
  padding: 1rem;
}
.how-it-works {
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
}
.how-it-works :hover {
  box-shadow: 0 2px 0 0;
  color: #5d57fb;
  border-bottom: 1px solid rgba(16, 8, 38, 0.08);
  padding-bottom: 1rem;
  /* width: 100%; */
  /* margin-bottom: 4rem; */
}
.hero-imgsec {
  background: url("../media//sch.jpg");

  width: 100%;
  height: 400px;
  object-fit: cover;
  /* object-position: center center; */
  /* opacity: 1; */
  /* transition: none 0s ease 0s; */
  padding-top: 3rem;
}
.h2-how {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  /* margin: 0; */
  max-width: 420px;
  max-width: 824px;
  text-align: center;
  color: #fff;
  padding-top: 3rem;
  justify-content: center;

  /* position: relative; */
}
.p2-how {
  font-size: 18px;
  line-height: 150%;
  margin: 40px 0;
  max-width: 420px;
  max-width: 824px;

  color: #fff;
  margin-left: 3rem;
}
.hero-how {
  margin-top: 5rem;
  margin-bottom: 3rem;
  /* height: 500px; */
}
.learn-more {
  font-size: 16px;
  line-height: 48px;
  padding: 0 20px;
  color: #fff;
  background: #5d57fb;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  margin-left: 3rem;
}
.get-start {
  margin-top: 1rem;
  text-align: center;
}
.get-start > h1 {
  /* max-width: 528px; */
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
  color: #1a0359;
  margin: 0 0 30px;
}
.get-start > button {
  font-size: 16px;
  line-height: 48px;
  padding: 0 20px;
  color: #fff;
  background: #5d57fb;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 2rem;
}
