.myApplication > .myApplication__main{
  padding-top: 36px;
  padding-left: 90px;
  padding-right: 90px;
}


.myApplication__main > h1{

  color: rgb(16, 8, 38);
  line-height: 125%;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 39px;
}


.myApplication__main ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.myApplication__main ul li{
  padding-bottom: 13px;
  color: #76788c;
  font-weight: 600;
  line-height: 17px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.myApplication__main ul li:not(:last-child){
  margin-right: 28px;
}

.myApplication__main__activeLi{
  color: #5d57fb!important;
  box-shadow: inset 0 -2px 0 #5d57fb;
}


.myApplication__main ul li:hover{
  color: #5d57fb!important;
}

.myApplication__main ul li span{
  background-color: #f2f4f7;
  border-radius: 10px;
  padding: 0 7px;
  margin-left: 3px;
}


.myApplication__main__scholarships_Container{
  background-color: #fff;
padding: 16px 20px;
box-shadow: 0 1px 5px rgba(0,0,0,.04), 0 1px 3px rgba(0,0,0,.05);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: space-between;

}

.finishApplicationBtn > div{
  display: flex;
  justify-content: flex-end;
}

.myApplication__main__scholarships_Container > a{
  color: inherit;
text-decoration: none;
display: flex;
align-items: center;
}

.myApplication__main__scholarships_Container > a > picture{
  color: inherit;
text-decoration: none;
display: flex;
align-items: center;
}

.myApplication__main__scholarships_ContainerContent{
  display: flex;
flex-direction: column;
flex: 1 1;
}

.myscholarship__details{
  border-radius: 2px;
width: 120px;
height: 80px;
min-width: 120px;
min-height: 80px;
margin: 0px 30px 0px 0px;
object-fit: cover;
}

.myApplication__main__scholarships_ContainerContent div:first-child{
  font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #100826;
margin-bottom: 22px;
}

.myApplication__main__scholarships_ContainerContent div:last-child > div{
  display: flex;
  flex-direction: row;
}

.myApplication__main__scholarships_ContainerContent div:last-child > div div{
  display: flex;
  align-items: center;
  width: 150px;
}

.finishApplicationBtn  button{
  background: #5d57fb;
box-sizing: border-box;
border-radius: 4px;
color: #fff;
font-weight: 500;
font-size: 14px;
line-height: 100%;
padding: 11px 11px 11px 16px;
display: flex;
border: none;
align-items: center;
white-space: nowrap;
}
