.top-section {
  width: 100%;
  margin: 3rem;
}
.row-sec {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}
.contenmt-sec {
  margin-left: 3rem;
  margin-top: 4rem;
  margin-right: 2rem;
}
.step-h1 {
  font-size: 2rem;
  border-bottom: 2px solid grey;

  font-weight: 700;
  color: gray;
}
.step-text {
  font-size: 3rem;

  font-weight: 700;
  margin-top: 0.8rem;
  color: rgb(17, 16, 16);
}
.step-desc {
  font-size: 1.4rem;

  font-weight: 500;
  margin-top: 0.8rem;
  color: rgb(46, 44, 44);
}
